.welcome {
    text-align: center;
    font-family: cursive;
    font-size: 55px;
}

.block1 {
    width: 99%;
    padding-left: 10px;
    padding-right: 10px;
}

.block2 {
    text-align: center;
    background: rgb(219, 212, 212);
}