.App {
  margin-left: 27%;
  margin-top: 100px;
  text-align: center;
  width: 650px;
  height: auto;
  border: solid 1px blue;
  background: rgba(0, 0, 0, 0.685);
}

.App:hover {
  border: solid 2px blue;
}

.App-link {
  color: #61dafb;
}

.black {
  margin-left: 5px;
  margin-right: 5px;
  width: 70px;
  font-size: 20px;
  border: solid 3px rgba(73, 63, 63, 0.267);
  border-radius: 5px;
  background: black;
  color: white;
}

.red {
  margin-right: 5px;
  font-size: 20px;
  width: 70px;
  border: solid 3px rgba(143, 19, 19, 0.603);
  border-radius: 5px;
  background: rgb(255, 0, 0);
  color: white;
}

.green {
  font-size: 20px;
  width: 70px;
  border: solid 3px rgba(43, 66, 43, 0.37);
  border-radius: 5px;
  background: green;
  color: white;
}

.textColorBlack {
  color: black;
}

.textColorRed {
  color: red;
}

.textColorGreen {
  color: green;
}

.startLeft {
  text-align: left;
  color: white;
  padding: 10px 10px 10px 10px;
}

.startLeftList {
  text-align: left;
  color: white;
}

.startCenter {
  text-align: center;
  color: white;
}

.rm {
  background: red;
  border-radius: 50%;
  color: blue;
}

.rm:hover {
  color: white;
  border: solid 1px white;
}

.done {
  text-decoration: line-through;
}

.marginTop {
  margin-top: 20px;
}
