body {
    background: black;
}

.title {
    text-align: center;
    font-family: 'Calligraffitti', cursive;
    font-weight: 600;
    font-size: 70px;
    color: yellow;
}

.title1 {
    font-size: 20px;
}

.block {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.text {
    text-align: center;
    font-size: 50px;
    font-family: 'Calligraffitti', cursive;
    border: solid 2px black;
    color: white;
    background: url(https://i.ibb.co/zFkDtHL/photoeditorsdk-export.png);
}

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    border: solid 1px;
    background: url(https://images.wallpaperscraft.ru/image/stena_pol_svet_ten_poverhnost_50837_1920x1080.jpg);
    background-size: 1500px 1400px;
}

.painting {
    text-align: center;
    margin: 40px 40px;
    border: solid 7px;
    background: yellow;
}

.painting:hover {
    border: solid 7px green;
}

.paintingA {
    text-align: center;
    margin: 40px 40px;
    border: solid 7px red;
}

.paintingA:hover {
    border: solid 7px yellow;
}

.paintingA:first-child {
    background: yellow;
}

.paintingA:nth-child(2) {
    background: blue;
}

.paintingA:nth-child(3) {
    background: blue;
}

.price {
    font-size: 30px;
    background: honeydew;
}

.price1 {
    font-size: 30px;
    background: red;
    color: black;
}

.price2 {
    font-size: 30px;
    color: red;
    text-decoration: line-through;
}

.price2:hover {
    background: red;
    color: black;
}
