body {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: url(https://clck.ru/S3EzN);
    background-size: cover;
}

.form {
    width: 365px;
    height: auto;
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgb(8, 8, 114);
    background: rgba(255, 255, 255, 0.5);
}

.page-wrapper {
    margin-left: 30px;
    margin-right: 30px;
}

.page-wrapper__title {
    text-align: center;
    margin-top: 10px;
    border-bottom: solid 2px white;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page-wrapper__label {
    font-size: 15px;
    font-weight: bold;
}

.page-wrapper__box {
    margin-top: 15px;
}

input[type="text"] {
    height: 20px;
    width: 295px;
    border: solid 2px;
}

input[type="name"] {
    border: solid 2px;
}

input[type="font-size"] {
    border: solid 2px;
    height: 19px;
    width: 50px;
}

.page-wrapper__font-input {
    margin-left: 30px;
}

.page-wrapper__choose-title {
    margin: 5px 0 5px 0;
}

#style-preset {
    height: 50px;
    width: 300px;
    border: solid 2px;
}

#textarea {
    height: 50px;
    width: 295px;
    margin-top: 10px;
}

.submit-button__wrap {
    display: flex;
    justify-content: center;
}

.submit-button {
    width: 200px;
    height: 30px;
    margin: 10px 0 10px 0;
    color: green;
    border-radius: 10px;
}

.submit-button:hover {
    box-shadow: 0 0 15px 0 rgba(2, 0, 128, 0.452);
    color: white;
    background: rgba(2, 0, 128, 0.452);
    border-radius: 10px;
}

.page-wrapper__font {
    display: flex;
    justify-content: space-around;
}

.page-wrapper__font__color {
    font-weight: bold;
    font-size: 10px;
}

.page-wrapper__font__font-size {
    margin-top: 2px;
    font-weight: bold;
    font-size: 10px;
}