.app-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.app-search-filter-sort-add-wrap {
  text-align: center;
  width: 400px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.app-card-list {
  text-align: center;
  margin-top: 20px;
  width: 1100px;
  height: auto;
}

.add-card-form-wrap-walidation {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: blue;
  width: 390px;
  border-radius: 10px;
  border: solid 1px blue;
  background: rgba(0, 0, 0, 0.527)
}

.add-card-form-wrap-walidation:hover {
  color: red;
  border: solid 1px red;
  box-shadow: 0 0 20px red;
}

.add-card-form-wrap-walidation-success {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: green;
  width: 390px;
  border-radius: 10px;
  border: solid 1px green;
  box-shadow: 0 0 20px green;
}

.add-card__label-input-validation {
  display: flex;
  justify-content: left;
  margin-left: 20px;
  color: red;
}

.add-card__label-input-validation-success {
  display: flex;
  justify-content: left;
  margin-left: 20px;
  color: green;
}

.add-card__input {
  width: 350px;
  margin-bottom: 10px;
  border: solid 1.5px green;
}

.add-card__input:hover {
  box-shadow: 0 0 20px green;
}

.add-card__input-validation-success {
  width: 350px;
  margin-bottom: 10px;
  border: solid 1.5px green;
  box-shadow: 0 0 20px green;
  color: black;
}

/* .add-card__input-validation-success:hover {
  box-shadow: 0 0 20px green;
} */

.add-card__input-validation {
  width: 350px;
  margin-bottom: 10px;
  color: red;
  border: solid 1.5px red;
}

.add-card__input-validation:hover {
  box-shadow: 0 0 20px 2px red;
}

.add-card__input-count {
  width: 350px;
  margin-bottom: 10px;
  border: solid 1.5px red;
}

.add-card__input-count:hover {
  box-shadow: 0 0 20px red;
}

.add-card__input-price {
  width: 350px;
  margin-bottom: 10px;
  border: solid 1.5px red;
}

.add-card__input-price:hover {
  box-shadow: 0 0 20px red;
}

.add-card__input-date {
  width: 350px;
  margin-bottom: 10px;
  border: solid 1.5px red;
}

.add-card__input-date:hover {
  box-shadow: 0 0 20px red;
}

.add-card__button-submit_width-300px {
  width: 300px;
}

.search-filter-sort__button_width-300px {
  width: 300px;
}

.add-card__search-label-input {
  display: flex;
  text-align: left;
  margin-left: 20px;
}

.search-price-block-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: blue;
  width: 390px;
  border-radius: 10px;
  border: solid 1px blue;
  background: rgba(0, 0, 0, 0.479);
}

.search-price-block-wrapper:hover {
  color: green;
  border: solid 1px green;
  box-shadow: 0 0 20px green;
}

.filter-price-block-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: blue;
  width: 390px;
  border-radius: 10px;
  border: solid 1px blue;
  background: rgba(0, 0, 0, 0.479);
}

.filter-price-block-wrapper:hover {
  color: green;
  border: solid 1px green;
  box-shadow: 0 0 20px green;
}

.filter-price-block__inner-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.filter-price-block__checkbox-cheap-color_toggle {
  color: grey;
}

.filter-price-block__checkbox-optimal-color_toggle {
  color: green;
}

.filter-price-block__checkbox-premium-color_toggle {
  color: yellow;
}

.sort-by-block-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: blue;
  width: 390px;
  border-radius: 10px;
  border: solid 1px blue;
  background: rgba(0, 0, 0, 0.479);
}

.sort-by-block-wrapper:hover {
  color: green;
  border: solid 1px green;
  box-shadow: 0 0 20px green;
}

.sort-by-block__radio-wrapper {
  display: flex;
  justify-content: space-around;
}

.sort-by-block__radio-label-color {
  color: blue;
}

.sort-by-block__radio-label-color:hover {
  color: green;
}

.price-segment-block-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 2px;
  color: blue;
  width: 390px;
  border-radius: 10px;
  border: solid 1px blue;
  background: rgba(0, 0, 0, 0.527)
}

.price-segment-block-wrapper:hover {
  color: red;
  border: solid 1px red;
  box-shadow: 0 0 20px red;
}

.price-segment-block-wrapper-walidation {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 2px;
  color: green;
  width: 390px;
  border-radius: 10px;
  border: solid 1px green;
  box-shadow: 0 0 20px green;
  background: rgba(0, 0, 0, 0.527)
}

.price-segment-block__inner-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

.price-segment-block__radio-cheap-color {
  color: grey;
}

.price-segment-block__radio-optimal-color {
  color: green;
}

.price-segment-block__radio-premiuml-color {
  color: yellow;
}

.secondary-information-block__input {
  width: 350px;
  margin-bottom: 10px;
  border: solid 1.5px blue;
}

.secondary-information-block__input-validation {
  width: 350px;
  margin-bottom: 10px;
  border: solid 1.5px green;
  box-shadow: 0 0 20px green;
}

.secondary-information-block-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: blue;
  width: 390px;
  border-radius: 10px;
  border: solid 1px blue;
  background: rgba(0, 0, 0, 0.527)
}

.secondary-information-block-wrapper:hover {
  color: green;
  border: solid 1px green;
  box-shadow: 0 0 20px green;
}

.secondary-information-block-wrapper-validation {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: green;
  width: 390px;
  border-radius: 10px;
  border: solid 1px green;
  box-shadow: 0 0 20px green;
  background: rgba(0, 0, 0, 0.527)
}

.secondary-information-block__label-input {
  display: flex;
  justify-content: left;
  margin-left: 20px;
  color: white;
}

.secondary-information-block__label-input:hover {
  color: green;
}

.secondary-information-block__texteria {
  width: 350px;
  border: solid 1.5px blue;
}

.secondary-information-block__texteria-validation {
  width: 350px;
  border: solid 1.5px green;
  box-shadow: 0 0 20px green;
}

.card-item-wrapper__border-color_gray {
  margin-top: 35px;
  margin-bottom: 10px;
  padding: 0 5px 10px 5px;
  color: white;
  border-radius: 20px;
  border: solid 1px gray;
  background: rgba(0, 0, 0, 0.39);
  box-shadow: 0 0 10px 1px gray;
}

.card-item-wrapper__border-color_gray:hover {
  box-shadow: 0 0 20px 2px gray;
}

.card-item-wrapper__border-color_green {
  margin-top: 35px;
  margin-bottom: 10px;
  padding: 0 5px 10px 5px;
  color: white;
  border-radius: 20px;
  border: solid 1px green;
  background: rgba(0, 0, 0, 0.39);
  box-shadow: 0 0 10px 1px green;
}

.card-item-wrapper__border-color_green:hover {
  box-shadow: 0 0 20px 2px green;
}

.card-item-wrapper__border-color_yellow {
  margin-top: 35px;
  margin-bottom: 10px;
  padding: 0 5px 10px 5px;
  color: white;
  border-radius: 20px;
  border: solid 1px yellow;
  background: rgba(0, 0, 0, 0.39);
  box-shadow: 0 0 7px yellow;
}

.card-item-wrapper__border-color_yellow:hover {
  box-shadow: 0 0 20px -2px yellow;
}

.card-item-wrapper {
  text-align: left;
  padding: 0px 10px 0px 18px;
  color: white;
}

.card-item-wrapper__img-style {
  height: 100px;
  width: 200px;
  border-radius: 10px;
}

.card-item__count-color-text-last-one__red {
  color: red;
}

.card-item__edit-buttons-wrap {
  display: flex;
  justify-content: space-evenly;
  padding-top: 22px;
}

.card-item__buttons {
  display: flex;
  justify-content: space-evenly;
}

.card-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-item-input_width-130px {
  width: 130px;
}

.card-item-input_width-133px {
  width: 133px;
}

.card-item-input-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.main-hr-style {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  border-radius: 20px;
  box-shadow: 0 -2px 20px 3px blue;
}

.edit-input-validation {
  width: 130px;
  color: white;
  border: solid 2px red;
  background: red;
}

.message-for-user-text_white {
  color: white;
}