body {
    background: url(https://clck.ru/TPxDn);
    background-size: cover;
    background-attachment: fixed;
}

.part {
    margin-left: 250px;
    margin-right: 250px;
    background: rgba(46, 20, 2, 0.521);
    border: solid 2px;
}

.part1 {
    font-size: 70px;
    margin-top: 50px;
    text-align: center;
    color: white;
}

.part2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px;
    background: white;
    border: solid 2px;
}

.topNubex {
    position: fixed;
    right: 45px;
    bottom: 45px;
    border: solid 5px;
    text-align: center;
    width: 50px;
    border: solid 2px saddlebrown;
    border-radius: 50px;
    color: saddlebrown;
    background: rgba(0, 0, 0, 0.274);
}

.topNubex:hover {
    border: solid 2px rgb(14, 160, 14);
    border-radius: 50px;
    color: rgb(14, 160, 14);
}